body {
  font-family: Arial,微软雅黑,sans-serif;
  color: white;
  background-color: rgb(52,11,106);
}

#title{
  padding-left:100px;
  height: 80px;
}
#gameArea {
  position: absolute;
  left:100px;
  top:100px;
  border-width:thick;
  border-color: white;
  border-style: solid;
}

.whatsNew {
  width: 400px;
  float:right;
  padding-right:150px;
}

@media screen and (min-height:800px) {

  .whatsNew {
    float: none;
    position: relative;
    top: 900px;
    left: 100px;
  }
}
